Maintainer: nns779 <25547272+nns779@users.noreply.github.com>
Build-Depends: debhelper (>= 9), dpkg
Package: px4-drv
Architecture: all
Depends: px4-drv-dkms
Description: Binary blob(s) for the it930x driver
Version: 0.2.1
